@use "sass:map";

$ejex:1.4;
$ejey:1.6;

$color:(
    Success:#b3391d,
    find:#ffffff
);

.btnconsulta{
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: map.get($color,Success );
}

.btnconsulta:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnconsulta::after {   
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btnconsulta::after {
    background-color: #fff;
}

.btnconsulta:hover::after {
    transform: scaleX($ejex) scaleY($ejey);
    opacity: 0;
}
