nav
{
    background-color: #843F3F !important;
    // border: none !important;
    // border-width:0!important;
    div{
        justify-content: center !important;
        ul{
            li{
                a{
                    color: white !important;
                }
            }
        }
    }
}