*{
    margin: 0;
}

html
{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
    background-color: white;
    font-family: "Poppins", system-ui !important;
}


.h1{
    background-color: rgba(190, 35, 35, 0.891);
    color: white !important;
}

.h2{
    background-color: rgba(15, 15, 210, 0.742);
    color: rgb(255, 255, 255) !important;
}